<?xml version='1.0' encoding='UTF-8'?>
<Project xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
 xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
 xmlns:foaf="http://xmlns.com/foaf/0.1/"
 xmlns:gnome="http://api.gnome.org/doap-extensions#"
 xmlns="http://usefulinc.com/ns/doap#">

 <name xml:lang="en">libxfce4ui</name>
 <shortdesc xml:lang="en">Widgets library for the Xfce desktop environment</shortdesc>
 <homepage rdf:resource="http://www.xfce.org/projects/libraries/"/>
 <mailing-list rdf:resource="http://foo-projects.org/mailmain/listinfo/xfce4-dev"/>

 <maintainer>
  <foaf:Person>
    <foaf:name>Nick Schermer</foaf:name>
    <foaf:mbox>mailto:nick@xfce.org</foaf:mbox>
    <gnome:userid>nick</gnome:userid>
  </foaf:Person>
 </maintainer>
</Project>
